<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CPUserControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add value="Los Angeles" key="MPKScheduleId"/>
    <add value="36" key="MPKScheduleKey"/>
    <add value="0.0950" key="MPKTaxRate"/>
    <add value="1715 + WA Base" key="SEAScheduleId"/>
    <add value="293" key="SEAScheduleKey"/>
    <add value="0.100" key="SEATaxRate"/>
    <add value="Missouri" key="STLScheduleId"/>
    <add value="170" key="STLScheduleKey"/>
    <add value="0.08863" key="STLTaxRate "/>
    <add value="Interstate" key="ISTATEScheduleId"/>
    <add value="168" key="ISTATEScheduleKey"/>
    <add value="0.0" key="ISTATETaxRate"/>
    <add value="International" key="INTLScheduleId"/>
    <add value="178" key="INTLScheduleKey"/>
    <add value=" 0.0" key="INTLTaxRate"/>
    <add value="Government" key="GOVScheduleId"/>
    <add value="172" key="GOVScheduleKey"/>
    <add value="0.0" key="GOVTaxRate"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UPSOnlineSoap" />
                <binding name="CATaxRateAPISoap" />
                <binding name="ServiceSoap1" />
                <binding name="serviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.30.39.158/CATaxOnline/CATaxRateAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="CATaxRateAPISoap"
                contract="CASalesTax.CATaxRateAPISoap" name="CATaxRateAPISoap" />
            <endpoint address="http://172.30.39.158/cpmail/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="CPMail.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="http://172.30.39.158/UPSOnlineSL/UPSOnline.asmx"
                binding="basicHttpBinding" bindingConfiguration="UPSOnlineSoap"
                contract="UPSOnline.UPSOnlineSoap" name="UPSOnlineSoap" />
            <endpoint address="http://172.30.39.158/WASalesTax/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="serviceSoap"
                contract="WASalesTax.serviceSoap" name="serviceSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <CPUserControls.Properties.Settings>
            <setting name="ISTATETaxId" serializeAs="String">
                <value>Interstate</value>
            </setting>
            <setting name="ISTATETaxKey" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="ISTATETaxRate" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="GOVTaxId" serializeAs="String">
                <value>Government</value>
            </setting>
            <setting name="GOVTaxKey" serializeAs="String">
                <value>172</value>
            </setting>
            <setting name="GovTaxRate" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="INTLTaxId" serializeAs="String">
                <value>International</value>
            </setting>
            <setting name="INTLTaxKey" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="INTLTaxRate" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="MPKTaxId" serializeAs="String">
                <value>Los Angeles</value>
            </setting>
            <setting name="MPKTaxKey" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="MPKTaxRate" serializeAs="String">
                <value>0.0950</value>
            </setting>
            <setting name="SEATaxId" serializeAs="String">
                <value>1715 +WA Base</value>
            </setting>
            <setting name="SEATaxKey" serializeAs="String">
                <value>293</value>
            </setting>
            <setting name="SEATaxRate" serializeAs="String">
                <value>0.100</value>
            </setting>
            <setting name="STLTaxId" serializeAs="String">
                <value>Missouri</value>
            </setting>
            <setting name="STLTaxKey" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="STLTaxRate" serializeAs="String">
                <value>0.08863</value>
            </setting>
        </CPUserControls.Properties.Settings>
    </userSettings>
</configuration>